.container-contact {
    text-align: center;

}
.container-contact h1 {
    font-size: 50px;
    margin: 2em 0;
    margin-bottom: 0;
}
.container-contact h2 {
    font-size: 20px;
    opacity: .5;
    margin-bottom: 2em;
}

.contact-label-card {
    width: 100%;
}
.contact-label-card a {
    padding: 10px 3em;
    color: #737373;
    border-radius: 20px;
    background-color: #030303;
}

.contact-label-changer {
    margin-top: 2em;
}
.contact-label-changer ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
    background-color: #232323;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #555555;
}

.contact-label-changer ul li {
    background-color: #1a1a1a;
    border: 1px solid #555555;
    padding: 5px 1em;
    border-radius: 50px;
}

.contact-label-changer ul li.lactived {
    background-color: #c5c5c5;
    color: #1a1a1a;
}